<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/admin/login.css') }}" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <form class="form-login" action="{{ url_for('admin.login') }}" method="post">
        <h2 class="form-login-heading">Please sign in</h2>
        {% include "layouts/alert_message.html" %}
        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div> <!-- /container -->
</body>
</html>