<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../../static/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../static/css/login.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <form class="form-login">
        <h2 class="form-login-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div> <!-- /container -->
</body>
</html>