<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link href="{{url_for('static', filename='bootstrap-3.3.7/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{url_for('static', filename='css/chat.css') }}" rel="stylesheet" media="screen">
    <script src="{{url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{url_for('static', filename='bootstrap-3.3.7/js/bootstrap.js') }}"></script>
</head>
<body>

<div class="container">
    <div class="chat">
        <div class="chat-history">
            <ul class="chat-ul">
            </ul>
        </div> <!-- end chat-history -->
    </div> <!-- end chat -->
</div>
<div class="navbar-fixed-bottom">
    <div class="container">
        <div class="msg-input input-group input-group-lg">
            <input id="msg-content" type="text" class="form-control" onkeydown="if(event.keyCode==13) send_msg();" placeholder="press Enter to send" aria-describedby="sizing-addon1">
            <span class="input-group-btn">
                <button id="send-msg" class="btn btn-default" type="button">Send!</button>
            </span>
        </div>
    </div>
</div>
</body>
<script type="application/javascript">

    var polling_id = 0;
    $(document).ready(function () {
        $('#send-msg').click(send_msg);
        polling_msg();
    });

    function send_msg(){
        var msg = get_input_msg();
        if(msg){
            send(msg);
        }
    }

    function get_input_msg(){
        return $('#msg-content').val();
    }

    function clear_input_msg() {
        $('#msg-content').val('');
    }
    
    function screen_down() {
        var h = $(document).height()-$(window).height();
        $(document).scrollTop(h);
    }

    function send(msg) {
        var data = {'msg':msg};
        $.ajax({
            url:'{{ url_for('message') }}',
            type:'POST',
            contentType:'application/json',
            data:JSON.stringify(data),
            success:function(data){
                if(data.retCode == '0'){
                    show_send_msg(msg);
                    clear_input_msg();
                    screen_down();
                }
            },
            error:function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        });
    }

    function polling_msg(){
        var data = {'id':polling_id,'clientid':'fvioeqnoire'};
        $.ajax({
            url:'{{ url_for('im') }}',
            type:'POST',
            contentType:'application/json',
            data:JSON.stringify(data),
            success:function (data) {
                if(data.retCode == '0'){
                    if(data.msg != null){
                        show_receive_msg(data.msg);
                    }
                }
                polling_msg()
            },
            error:function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        });
        polling_id++;
    }

    function show_send_msg(msg){
        var html = '<li class="clearfix">\
                        <div class="message-data align-right">\
                            <span class="message-data-name"><img src="{{url_for('static', filename='img/headimg_visitor.jpg') }}" class="head-img img-rounded" /></span> <i class="fa fa-circle me"></i>\
                            </div>\
                            <div class="message me-message float-right">' + msg + '</div>\
                    </li>';
        $('.chat-ul').append(html);
    }

    function show_receive_msg(msg){
        var html = '<li>\
                        <div class="message-data">\
                        <span class="message-data-name"><i class="fa fa-circle you"></i><img src="{{url_for('static', filename='img/headimg_xiaoice.jpg') }}" class="head-img img-rounded" /></span>\
                        </div>\
                        <div class="message you-message">' + msg + '</div>\
                    </li>';
        $('.chat-ul').append(html);
    }

</script>
</html>